body {
    background-color: bisque;
}

div[type=container] {
    width: 50%;
    height: 80pt;
    float: left;
    margin-bottom: 30pt;
}

/* a.b */
.column {
    text-align: center;

    background-color: aquamarine;

    /* 1.c */
    border: 5pt solid;
    border-color: brown;
    border-radius: 10pt;

    margin: 2%;
    margin-bottom: 5%;

    padding: 2%;

    width: flex;
    height: 100%;

    font-family:Arial,Helvetica,sans-serif;
}

